<a href="https://colab.research.google.com/github/jayasuneja/Suneja_Homework3/blob/main/Homework3_Suneja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 3

* Mauna Loa CO2 dataset manipulation
* Importing data, data frame manipulation, data frame exporting

In [1]:
# 1. Import the Data

# mounting drive
from google.colab import drive
drive.mount('/content/drive')
filedir = '/content/drive/MyDrive/FWE458/'
drive.mount("/content/drive", force_remount=True)

# importing data
import pandas as pd
fname  = filedir + "MaunaLoaCO2_monthly_sitename.csv"
DF = pd.read_csv(fname)

# printing head of data
print(DF.head())

Mounted at /content/drive
Mounted at /content/drive
   Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
0  1958      3     1958.2027           315.70          314.43         -1
1  1958      4     1958.2877           317.45          315.16         -1
2  1958      5     1958.3699           317.51          314.71         -1
3  1958      6     1958.4548           317.24          315.14         -1
4  1958      7     1958.5370           315.86          315.18         -1

   stdofdays      site
0      -9.99  MaunaLoa
1      -9.99  MaunaLoa
2      -9.99  MaunaLoa
3      -9.99  MaunaLoa
4      -9.99  MaunaLoa

In [19]:
# 2. Filter Data

# Exclude data from the years 1958 and 2022
DF = DF[~DF['Year'].isin([1958,2022])]
  # This line of code finds the 'Year' column in dataframe DF (DF['Year'])
  # Then it finds if 1958 and 2022 values exist in that column (.isin)
  # Then it reverses the action where true becomes false and it excludes those years (~)
print(DF)

# Remove rows where "numofdays" or "stdofdays" contain invalid (negative) values
DF = DF.dropna().loc[(DF["numofdays"] >= 0) & (DF["stdofdays"] >= 0)]
  # This line of code drops any rows containing NaN values (.dropna)
  # Then it finds the 'numofdays' column and drops the negative values (>=0)
  # Then it finds the 'stdofdays' column and drops the negative values (>=0)
  # The & indicates that it will drop rows if either column has negative values
print(DF.head())

          Date  Year  Month  Monthly_average  deseasonalized  numofdays  \
10  1959-01-01  1959      1           315.58          315.55         -1
11  1959-02-01  1959      2           316.48          315.86         -1
12  1959-03-01  1959      3           316.65          315.38         -1
13  1959-04-01  1959      4           317.72          315.41         -1
14  1959-05-01  1959      5           318.29          315.49         -1
..         ...   ...    ...              ...             ...        ...
761 2021-08-01  2021      8           414.47          416.49         26
762 2021-09-01  2021      9           413.30          416.90         27
763 2021-10-01  2021     10           413.93          417.30         29
764 2021-11-01  2021     11           415.01          417.07         30
765 2021-12-01  2021     12           416.71          417.44         28

     stdofdays  Annual_average  Deseasonalized_annual_average  std_of_months  \
10       -9.99      315.980833                       315.9775       1.617194
11       -9.99      315.980833                       315.9775       1.617194
12       -9.99      315.980833                       315.9775       1.617194
13       -9.99      315.980833                       315.9775       1.617194
14       -9.99      315.980833                       315.9775       1.617194
..         ...             ...                            ...            ...
761       0.72      416.450833                       416.4500       2.025027
762       0.29      416.450833                       416.4500       2.025027
763       0.35      416.450833                       416.4500       2.025027
764       0.36      416.450833                       416.4500       2.025027
765       0.48      416.450833                       416.4500       2.025027

    CO2_Category
10           Low
11           Low
12           Low
13           Low
14           Low
..           ...
761         High
762         High
763         High
764         High
765         High

[756 rows x 11 columns]
          Date  Year  Month  Monthly_average  deseasonalized  numofdays  \
194 1974-05-01  1974      5           333.19          330.22         13
195 1974-06-01  1974      6           332.20          329.78         25
196 1974-07-01  1974      7           331.07          330.21         24
197 1974-08-01  1974      8           329.15          330.54         26
198 1974-09-01  1974      9           327.33          330.44         22

     stdofdays  Annual_average  Deseasonalized_annual_average  std_of_months  \
194       0.31      330.191667                     330.208333       2.003224
195       0.37      330.191667                     330.208333       2.003224
196       0.24      330.191667                     330.208333       2.003224
197       0.31      330.191667                     330.208333       2.003224
198       0.47      330.191667                     330.208333       2.003224

    CO2_Category
194          Low
195          Low
196          Low
197          Low
198          Low

In [20]:
# 3. Compute Annual Statistics
DF['Date'] = pd.to_datetime(DF[['Year', 'Month']].assign(day=1))
DF.drop(columns="site", inplace=True,errors="ignore")
DF.drop(columns="Decimal_date", inplace=True, errors = "ignore")
DF = DF[['Date','Year','Month','Monthly_average','deseasonalized','numofdays','stdofdays']]
DF
# Calculate the annual average CO2 concentration from "Monthly_average"
# and store it in "Annual_average"
DF["Annual_average"] = DF.groupby("Year")["Monthly_average"].transform("mean")
  # This makes a new column called "Annual_average"
  # Then it groups all the values in "Monthly_average" by "Year"
  # Finally, it takes the mean of those groups and stores it in the new column

# Calculate the annual average deseasonalized CO2 concentration from "deseasonalized"
# and store it in "Deseasonalized_annual_average"
DF["Deseasonalized_annual_average"] = DF.groupby("Year")["deseasonalized"].transform("mean")
  # This line of code is similar to the last
  # But it's grouping the values in "deseasonalized" by year and averaging them

# Compute the standard deviation of the 12-month "Monthly_average" values for each year
# and store it in "std_of_months"
DF["std_of_months"] = DF.groupby("Year")["Monthly_average"].transform("std")
  # Similar to the previous two lines of code, this groups the monthly averages
  # Then takes the standard deviation of those groupings

print(DF)

          Date  Year  Month  Monthly_average  deseasonalized  numofdays  \
194 1974-05-01  1974      5           333.19          330.22         13
195 1974-06-01  1974      6           332.20          329.78         25
196 1974-07-01  1974      7           331.07          330.21         24
197 1974-08-01  1974      8           329.15          330.54         26
198 1974-09-01  1974      9           327.33          330.44         22
..         ...   ...    ...              ...             ...        ...
761 2021-08-01  2021      8           414.47          416.49         26
762 2021-09-01  2021      9           413.30          416.90         27
763 2021-10-01  2021     10           413.93          417.30         29
764 2021-11-01  2021     11           415.01          417.07         30
765 2021-12-01  2021     12           416.71          417.44         28

     stdofdays  Annual_average  Deseasonalized_annual_average  std_of_months
194       0.31      329.763750                      330.34625       2.203789
195       0.37      329.763750                      330.34625       2.203789
196       0.24      329.763750                      330.34625       2.203789
197       0.31      329.763750                      330.34625       2.203789
198       0.47      329.763750                      330.34625       2.203789
..         ...             ...                            ...            ...
761       0.72      416.450833                      416.45000       2.025027
762       0.29      416.450833                      416.45000       2.025027
763       0.35      416.450833                      416.45000       2.025027
764       0.36      416.450833                      416.45000       2.025027
765       0.48      416.450833                      416.45000       2.025027

[570 rows x 10 columns]

<ipython-input-20-50841c132d8c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF["Annual_average"] = DF.groupby("Year")["Monthly_average"].transform("mean")
<ipython-input-20-50841c132d8c>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF["Deseasonalized_annual_average"] = DF.groupby("Year")["deseasonalized"].transform("mean")
<ipython-input-20-50841c132d8c>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF["std_of_months"] = DF.groupby("Year")["Monthly_average"].transform("std")

In [21]:
# 4. Apply Custom Function

# Write a function to classify CO2 levels into categories:
  # "Low" if CO2 is below 350 ppm
  # "Moderate" if CO2 is between 350 and 400 ppm
  # "High" if CO2 is above 400 ppm
# Apply this function to create a new column "CO2_Category"

def categorize_co2(value):
  if value < 350:
    return 'Low'  # if the monthly aveg is below 350ppm, category is low
  elif value < 400:
    return 'Moderate' # otherwise, if the monthly ppm is 350<x<400, category is moderate
  else:
    return 'High' # otherwise, if the monthly ppm is >400, category is high

# Applying the function to the 'Monthly_average' column and
# making a new column to store the results in
DF['CO2_Category'] = DF['Monthly_average'].apply(categorize_co2)

DF

,Date,Year,Month,Monthly_average,deseasonalized,numofdays,stdofdays,Annual_average,Deseasonalized_annual_average,std_of_months,CO2_Category
194,1974-05-01,1974,5,333.19,330.22,13,0.31,329.763750,330.34625,2.203789,Low
195,1974-06-01,1974,6,332.20,329.78,25,0.37,329.763750,330.34625,2.203789,Low
196,1974-07-01,1974,7,331.07,330.21,24,0.24,329.763750,330.34625,2.203789,Low
197,1974-08-01,1974,8,329.15,330.54,26,0.31,329.763750,330.34625,2.203789,Low
198,1974-09-01,1974,9,327.33,330.44,22,0.47,329.763750,330.34625,2.203789,Low
...,...,...,...,...,...,...,...,...,...,...,...
761,2021-08-01,2021,8,414.47,416.49,26,0.72,416.450833,416.45000,2.025027,High
762,2021-09-01,2021,9,413.30,416.90,27,0.29,416.450833,416.45000,2.025027,High
763,2021-10-01,2021,10,413.93,417.30,29,0.35,416.450833,416.45000,2.025027,High
764,2021-11-01,2021,11,415.01,417.07,30,0.36,416.450833,416.45000,2.025027,High
765,2021-12-01,2021,12,416.71,417.44,28,0.48,416.450833,416.45000,2.025027,High

In [29]:
# Exporting the final data frame to a .csv:
DF.to_csv("/content/drive/MyDrive/FWE458/Suneja_MaunaLoaCO2_annual_HW3.csv", index=False)

# Double checking it got there
!ls /content/drive/MyDrive/FWE458

globalelev.txt			  MaunaLoaCO2_monthly.txt  Suneja_MaunaLoaCO2_annual_HW3.csv
MaunaLoaCO2_monthly_sitename.csv  PicnicPointEVI.csv